div{
    background-color: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;

    word-wrap: normal; 

    word-wrap: break-word;

    white-space: normal;

    white-space: nowrap;
    
}